/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */


* {
  /* border: 1px solid orange; */
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 10px;
}
body {
  background: linear-gradient(#d0c9e7, 5%, #fff);
}

h1 {
  display: block;
  margin: 10px;
  color: #fff;
  -webkit-text-stroke: .5px #687aa7;
  text-shadow: 0px 0px 10px #687aa7;
  font-family: 'Arvo', serif;
}
section.form__container {
  width: 480px;
}
form.form {

}
.form__input--wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
  
}
.form__input--name {
  display: flex;
}
.form__input--name > label {
  width: 150px;
  height: 28px;
  text-align: center;
  color: #fff;
  font-family: 'Arvo', serif;
  line-height: 1.7;
  background-color: #9db3ed;
  border-radius: 30px 0 0 30px;
}
input#name {
  flex-grow: 1;
  border-radius: 0 30px 30px 0;
  border: 1px solid #4e6093;
  border-left: none;
}
.form__input--title {
  display: flex;
}
.form__input--title > label {
  width: 150px;
  height: 28px;
  text-align: center;
  color: #fff;
  font-family: 'Arvo', serif;
  line-height: 1.7;
  background-color: #9db3ed;
  border-radius: 30px 0 0 30px;
}
input#title {
  flex-grow: 1;
  border-radius: 0 30px 30px 0;
  border: 1px solid #4e6093;
  border-left: none;
}
.form__textbox {
  display: flex;
}
.form__textbox > label {
  width: 150px;
  height: 45px;
  text-align: center;
  color: #fff;
  font-family: 'Arvo', serif;
  line-height: 2.6;
  background-color: #9db3ed;
  border-radius: 20px 0 0 20px;
}
textarea {
  flex-grow: 1;
  border-radius: 0 20px 20px 0;
  border: 1px solid #4e6093;
  border-left: none;
  resize: none;
  font-family: 'Hahmlet', serif;
}
.form__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
input#submit {
  width: 100px;
  height: 30px;
  background-color: #c4cbfd;
  color: #fff;
  font-family: 'Arvo', serif;
  border-radius: 30px;
  box-shadow: 0px 0px 10px #656565;
  border: none;
}
input#submit:hover {
  color: #4c5c88;
}
input#submit:active {
  box-shadow: none;
  width: 98px;
  height: 29px;
}



section.discussion__wrapper {
  width: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.discussions__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7.5px;
}
li {
  display: flex;
  height: 80px;
  width: 480px;
  border: 1px solid #4e6093;
  border-radius: 30px;
  box-shadow: 0px 0px 7px #7484b0;
  font-family: 'Hahmlet', serif;
}

.discussion__avatar--wrapper {
  display: flex;
  width: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  border-radius: 50%;
  width: 48px;
  border: 2.5px dotted #4e6093;
}
.discussion__content {
  width: 420px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
a {
  font-size: small;
  
}
h2 {
  flex-grow: 1;
  display: flex;
  padding: 8px;
  /* padding: 6px; */
}
.discussion__information {
  display: flex;
  justify-content: flex-end;
  font-size: small;
}
.discussion__answered {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
